<a href="/upload" class="btn btn-primary">Upload</a>
<div><i class="fas fa-3x fa-upload"></i></div>
<div id="rs"></div>
<form method="post" name="frm">
	<input class="form-control" type="file" name="f">
</form>

<style type="text/css">
	form[name='frm']{
		display: none;
	}
</style>
<script type="text/javascript">
	window.onload = function() {
		$('.fa-upload').click(function() {
			frm['f'].click();
		});
		$(frm['f']).change(function() {
			var fd = new FormData();
			fd.append('f', frm['f'].files[0]);
			$.ajax({
				url: '/upload',
				type: 'post',
				processData: false,
				contentType:false,
				data: fd,
				success: function(o) {
					console.log(o);
					$(rs).append(`<img width="100" src="/upload/${o['img']}">`);
				}
			});
		});
	}
</script>